<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" 
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="PackagedWin32AppService"
    Publisher="CN=jevansa"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>PackagedWin32</DisplayName>
    <PublisherDisplayName>jevansa</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="PackagedWin32"
			  Description="PackagedWin32"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.appService" EntryPoint="RuntimeComponent.AppServiceProxy">
					<uap3:AppService Name="com.microsoft.universalaction"/>
				</uap:Extension>
				<!--<desktop:Extension Category="windows.fullTrustProcess" Executable="Win32App.exe" />-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<!-- TODO: This should be granting access just to our own package -->
						<!-- "grants local launch/activation to everyone, restricted code (most common restricting sid), all application packages, anonymous, and explicitly allows all integrity levels" -->
						<com:ExeServer Executable="Win32App\Win32App.exe" Arguments="-RegisterProcessAsComServer" DisplayName="PackagedWin32AppService" LaunchAndActivationPermission="O:SYG:SYD:(A;;11;;;WD)(A;;11;;;RC)(A;;11;;;AC)(A;;11;;;AN)S:P(ML;;NX;;;S-1-16-0)">
							<com:Class Id="973166A5-ABC2-4F21-9DC8-5D80AF677DEC" DisplayName="Packaged Win32 App Service" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Extensions>
		<!--<Extension Category="windows.activatableClass.outOfProcessServer">-->
			<!-- with:  uap5:IdentityType="activateAsPackage" uap5:RunFullTrust="true" error is:
			0x80000020 : 'A universal application process cannot activate a packaged WinRT server that is declared to run full trust.'.
			-->
			<!--<OutOfProcessServer ServerName="AppService">
				<Path>Win32App\Win32App.exe</Path>
				<Instancing>singleInstance</Instancing>
				<ActivatableClass ActivatableClassId="RuntimeComponent.AppService" />
			</OutOfProcessServer>-->
		<!--</Extension>-->
	</Extensions>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
